@charset "UTF-8";

.container{
		position:relative;
		margin : auto;
	}	
#search_mountain{
	background-color : var(--point-color);
	height:200px;
	text-align:center;
	color : white;
	font-size: 30px;
	line-height: 50px;
}  
.search_bar{
	width:600px;
	text-align:center;
	height: 30px;
	margin-top: 30px;
}
.loc_bnt{
  background:green;
  color:white;
  border:none;
  position:relative;
  height:30px;
  font-size:0.7em;
  padding:0 2em;
  cursor:pointer;
  transition:800ms ease all;
  outline:none;
  border-radius:20px;
}
.loc_bnt:hover{
  background:#fff;
  color:var(--point-color);
}	
#weather{
	border: 1px solid #bcbcbc;    /* 영역나누느라 설정. 나중에 지우고 쓰기 */
	height: 50px;
	text-align : right;
	color: red;				/* api연결 */
	
}
#mountain_trail{
	margin-top: 30px;
	text-align : right;
	height: 30px;
	
}
#mountain_detail{
	width:500px;
	height:500px;
	margin-left: 40px;
    border: 1px solid #bcbcbc;    /* 영역나누느라 설정. 나중에 지우고 쓰기 */
    float: left;
}
#mountain_info{
	border: 1px solid #bcbcbc;    /* 영역나누느라 설정. 나중에 지우고 쓰기 */
	width:500px;
	height:470px;
	position: absolute;
	margin-left: 620px;
}
