@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');

:root{
  --point-color:rgb(39, 174, 96);
}

body{
  font-family: 'Noto Sans KR', sans-serif;
  color: #555555;
  width: 100%;
  font-size:15px;
}
a {
  color: #555555;
}
header{
  position: fixed;
  width: 100%;
  background-color: #fff;
  border-bottom: 1px solid #eee;
  z-index:999;
}
input[type=submit]{
	cursor: pointer;
	border:none;
}
.container{
  margin: auto;
  width: 1200px;
}
.con_header{
  display: flex;
  justify-content: space-between;
  box-sizing: border-box;
}
.logo{
  width: 200px;
  height: inherit;
  position: relative;
  box-sizing: border-box;
  
}
.logo img{
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 100%;
  height: 70%;
}
.gnb{
  display: flex;
}
.gnb li{
  padding: 60px 40px 20px 40px;
}
.gnb li:hover a{
  color: rgb(39, 174, 96);
}
.login, .join{
  display: inline-block;
  padding: 60px 0 0 15px;
  font-size: 13px;
}
.header_profile{
	margin-top: 30px;
	border-radius: 50%;
	overflow: hidden;
	width:50px;
	height:50px;
	position: relative;
}
.header_profile img{
	position: absolute;
	width:100%;
	height:100%;
	top: 0;
	left: 0;
}
.tab_mypage{
	width: 200px;
	position: absolute;
	top: 100px;
	right: 150px;
	padding: 15px;
	box-sizing: border-box;
	border-radius: 10px;
	box-shadow: 0 0 10px #e2e2e2;
	background-color: #fff; 
	display: none; 
}
.tab_mypage em{
	display: inline-block;
	width: 20px; height: 20px;
	position: absolute;
	right:30px;;
	top:-10px;
	transform : rotate(45deg);
	box-shadow: -3px -3px 10px #e2e2e2;
	background-color: #fff; 
}
.tab_user{
	border-bottom: 1px solid #000;
	padding: 5px 15px 15px 15px;
	position: relative;
}
.tab_user a{
	font-size: 11px;
	background-color: #4f4f4f;
	color:#fff;
	padding: 10px;
	border-radius: 5px;
	position: absolute;
	right: 0;
	bottom: 5px;

}
.tab_mypage div{
	padding: 15px 0 5px 15px;	
}

@media screen and (min-width: 1537px) {
	.tab_mypage{
		right: 300px;
	}
	.tab_mypage em{
		display: none;
	}
}
@media screen and (max-width: 768px){
	.tab_mypage{
		right: 10px;
	}
	.tab_mypage em{
		display: none;
	}
	.con_header{
		width: 750px;
	}
	.gnb li{
		padding: 60px 20px 20px 20px;
	}
}

/* 헤더 끝 */

/* 콘텐츠 시작 - 섹션코드는 건들지 말아주세요! */
section{
  position: absolute;
  width: 100%;
  top: 95px;
}

