@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');

:root{
  --point-color:rgb(39, 174, 96);
}

body{
  font-family: 'Noto Sans KR', sans-serif;
  color: #555555;
  width: 100%;
  font-size:15px;
}
a {
  color: #555555;
}
header{
  position: fixed;
  width: 100%;
  background-color: #fff;
  border-bottom: 1px solid #eee;
  z-index:999;
}
input[type=submit]{
	cursor: pointer;
	border:none;
}
.container{
  margin: auto;
  width: 1200px;
}
.con_header{
  display: flex;
  justify-content: space-between;
  box-sizing: border-box;
}
.logo{
  width: 200px;
  height: inherit;
  position: relative;
  box-sizing: border-box;
  
}
.logo img{
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 100%;
  height: 70%;
}
.gnb{
  display: flex;
}
.gnb li{
  padding: 60px 40px 20px 40px;
}
.gnb li:hover a{
  color: rgb(39, 174, 96);
}
.login, .join{
  display: inline-block;
  padding: 60px 0 0 15px;
  font-size: 13px;
}
.header_profile{
	margin-top: 30px;
	border-radius: 50%;
	overflow: hidden;
	width:50px;
	height:50px;
	position: relative;
	border: 1px solid #000;
}
.header_profile img{
	position: absolute;
	width:100%;
	height:100%;
	top: 0;
	left: 0;
}
/* 헤더 끝 */

/* 콘텐츠 시작 - 섹션코드는 건들지 말아주세요! */
section{
  position: absolute;
  width: 100%;
  top: 100px;
}

