@charset "UTF-8";

.login-form{
	 width: 100%;
     display:flex;
    text-align: center;
    flex-wrap:wrap;
    flex-direction:column;
    margin-top:50px;
    align-items: center;
    justify-content: center;
}
.wrap_login_form{

	width: 300px;
	box-sizing: border-box;
}

h1{
	padding :20px;
	font-size:20px;
	font-weight: 700;
	color:var(--point-color);
}
h3{
	padding:10px;
}
    
.int-area{
	width: 300px;
	margin-top: 5px;
}

.int-area input {
    width: 100%;
	box-sizing: border-box;
   
}

input{
    width: 100%;
	padding: 10px;
}
.caption{
	font-size:13px;
	padding:5px;
}
.caption a:hover{
	text-decoration: underline;
}

button{
    width: 300px;
    height: 43px;
    background-color:var(--point-color);
    color : #fff;
    font-size: 16px;
    font-weight: bold;
    border-radius: 5px;
    border:none;
    margin:10px 0;
}
.valid-msg{
	color:crimson;
	font-size: 13px;
}