@charset "UTF-8";

body{
      margin: 0; padding: 0;
    font-family: sans-serif;
    height: 100vh;
    overflow: hidden;
    background: white;
}

.login-form{
     	display:flex;
    text-align: center;
    flex-wrap:wrap;
    flex-direction:column;
    margin:65px;
    align-content: center;
}


    button{
        width: 300px;
        height: 43px;
        background-color:#008840;
        color : #fff;
        font-size: 16px;
        font-weight: bold;
        border-radius: 5px;
        outline: 0px;
    }


