@charset "UTF-8";

.con_searchPw{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width:100%;
    padding-top: 50px;
	text-align: center;
}
h1{
	padding :20px;
	font-size:20px;
	font-weight: 700;
	color:var(--point-color);
}
h3{
	padding:10px;
}

.int-area{
	width: 100%;
	margin-top: 5px;
}

.int-area input {
	width: 300px;
    
	box-sizing: border-box;
   
}

input{
    width: 100%;
	padding: 10px;
}
    
button{
    width: 300px;
    height: 43px;
    background-color:var(--point-color);
    color : #fff;
    font-size: 16px;
    font-weight: bold;
    border-radius: 5px;
    border:none;
    margin:10px 0;
}
.alert_auth{
	font-size:11px;
	color:crimson;
	margin-left:10px;
}
#alert_nick, #alert_info{
	display: block;
	margin-left: 83px;
	margin-top: 3px;
	color:crimson;
	font-size:11px;
}
