@charset "UTF-8";

.section{
	margin-top: 10px;
	width: 1200px;
	display: flex;
	justify-content: center;
}
.frm_post{
	width: 80%;
	height: 100%;
}
.frm_header_area{
	width: 100%;
	height: 46px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	border-bottom: solid;
	border-width: 1px;
}
.sub_title{
	font-size: 22px;
	font-weight: bolder;
}
.btn_area{
	height: 36px;
	display: flex;
	justify-content: flex-end;
	align-items: center;
}
.btn_area>a{
	width: 70px;
	height: 30px;
	font-size: 18px;
	background-color: #eeeeee;
	line-height: 28px;
	text-align: center;
	color: black;
}
.btn_area>button{
	width: 72px;
	height: 30px;
	font-size: 18px;
	background-color: #eeeeee;
	margin-left: 10px;
}
/*  */
.frm_title_area{
	width: 100%;
	height: 70px;
	display: flex;
	align-items: center;
}
.frm_title_area>div{
	width: 100%;
	height: 40px;
	display: flex;
	border: solid;
	border-width: 1px;
}
.select_subject{
	width: 20%;
	height: 40px;
	font-size: 18px;
	border: none;
	background-color: rgba(0,0,0,0.1);
}
.post_title{
	width: 80%;
	height: 38px;
	font-size: 18px;
	border: none;
	margin-left: 5px;
}

/*  */
.frm_content_area{
	width: 100%;
	display: flex;
	justify-content: center;
}
.frm_content_area>textarea{
	width: 100%;
}
.btn{
	border-color: transparent;
}