 @charset "UTF-8";
 
.section *{
	font-size: 13px;
}
.section{
	margin-top: 30px;
	width: 1200px;
	display: flex;
	justify-content: center;
	margin-bottom: 60px;
}
.wrapper{
	width: 80%;
	height: 100%;
}
.sub_title{
	width: 100%;
	height: 46px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	border-bottom: solid;
	border-width: 1px;
}
.sub_title>h2{
	font-size: 22px;
	font-weight: 700;
}
.btn_area{
	height: 36px;
	display: flex;
	justify-content: flex-end;
	align-items: center;
}
.btn_area>a{
	width: 70px;
	height: 30px;
	font-size: 15px;
	background-color: #eeeeee;
	line-height: 28px;
	text-align: center;
	margin-left: 10px;
	color: black;
}
.row{
	margin-top: 14px;
}
.row,.table{
	width: 100%;
}
th{
	background-color: #dddddd;
	line-height: 30px;
}
td{
	text-align: center;
	border-bottom: 1px solid #eeeeee;
	border-top: 1px solid #eeeeee;
}
.post_title{
	text-align: left;
	padding-left: 10px;
	padding-right: 10px;
}

.footer{
	width: 100%;
	margin-top: 10px;
}
.total_page_info{
	margin-bottom: 10px;
}
.search_bar_wrap{
	height: 30px;
	display: flex;
	align-items: center;
}
.search_bar_wrap select{
	width: 100px;
	height: 31px;
	text-align: center;
}
.search_bar_wrap input{
	width: 300px;
	height: 25px;
}
.search_bar_wrap button{
	height: 31px;
	border: 1px solid;
	background-color: #eeeeee;
}
.btn{
	border-color: transparent;
	border-radius:5px;
}
#btnWrite{
	background-color: var(--point-color);	
	color: #fff;
}
.paging_box{
	display: flex;
	justify-content: center;
	align-items: center;
	padding-top: 20px;
}
.paging_box>span>i,.paging_box>a{
	margin: 0 10px;
}
.paging_box>ul{
	 display: flex;
	 justify-content: center;
}
.paging_box>ul>li{
	 display: inline-block;
	 margin: 0 5px;
}
.color{
	color: rgb(39,174,96);
}
.bold{
	font-weight: bold;
}