@charset "UTF-8";

.section{
	margin-top: 10px;
	width: 1200px;
	display: flex;
	justify-content: center;
}
.section_wrap{
	width: 80%;
	height: 100%;
}
.section_top{
	width: 100%;
	height: 46px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	border-bottom: solid;
	border-width: 1px;
}
.section_top>h2{
	font-size: 22px;
	font-weight: bolder;
}
.btn_area{
	height: 36px;
	display: flex;
	justify-content: flex-end;
	align-items: center;
}
.btn_area>a{
	width: 70px;
	height: 30px;
	font-size: 18px;
	background-color: #eeeeee;
	line-height: 28px;
	text-align: center;
	margin-left: 10px;
	color: black;
}
.section_content_box{
	padding: 0px 20px 0 20px;
	border: 1px solid #dddddd;
	margin-top: 15px;
}
.section_content_box *{
	padding-bottom: 5px;
}
.section_header{
	height: 110px;
	border-bottom: 1px solid #dddddd;
}
.section_title{
	display: flex;
	align-items: center;
	height: 50px;
}
.section_title *{
	padding-right: 5px;
}
.section_title>p{
	font-size: 18px;
	padding-left: 25px;
}
.writer_info{
	width: 100%;
	height: 50px;
	display: flex;
}
.writer_thumb{
	width: 50px;
	height: 50px;
}
.writer_profile{
	width: 250px;
	height: 50px;
	margin-left: 10px;
}
.writer_profile>div{
	margin-bottom: 6px;
}
.view_cnt{
	 height: 50px;
}
.view_cnt>div{
	display: flex;
}
.view_cnt>div>div{
	width: 60px;
	margin-right: 10px;
}
.section_container{
	width: 100%;
}
/*  */
.content_area{
	border-bottom: 1px solid #dddddd;
	min-height: 50px;
	margin-top: 15px;
}
.comment_area{
	width: 100%;
	min-height: 30px;
	margin-top: 20px;
	margin-bottom: 20px;
}
.line_btns{
	heigth: 100px;
}
.line_btns>span{
	width: 70px;
	margin-right: 10px;
}
.cmt_wrap{
	margin-top: 15px;
	margin-bottom: 15px;
}
.cmt_info{
	height: 10px;
	display: flex;
	margin-bottom: 5px;
}
.cmt_info>div{
	width: 150px;
}
.frm_write_cmt{
	height: 98px;
}
.write_box{
	width: 100%;
}
.cmt_writer_id{
	height: 13px;
}
.cmt_write_box>textarea{
	width: 99.4%;
	resize: none;
	height: 50px;
	border: 1px solid #dddddd;
}
.cmt_write_btn{
	float: right;
	background-color: #eeeeee;
}
.btn{
	border-color: transparent;
}