@charset "UTF-8";
.main{
	width:100%;
	height: calc(100vh - 95px);
	background: url('/resources/img/bg4.jpg') no-repeat 0 0;
	 background-size: 100% 100%;
}
.main_txt{
	position: absolute;
	left: 160px;
	bottom: 80px;
	width: 280px;
	height: 280px;
	background-color: rgb(0,0,0,0.3);
	box-shadow: 0 0 15px #e0e0e0;
	border-radius: 50%;
	line-height: 1.8em;
	font-size: 18px;
	font-weight: 600;
	color: #Fff;
}
.main_txt span{
	position: absolute;
	width:100%;
	top:50%;
	left: 50%;
	transform : translate(-50%,-50%);	
}
.main_txt h1{
	text-align: center;	

}