@charset "UTF-8";
<<<<<<< HEAD
.tit_form{
  display: inline-block;
  width: 80px;
}
textarea{
  width: 300px;
}
input{
  padding: 5px;
  width: 300px;
}
button{
  width: 15%;
=======



.container{
text-align: center;
}

.schedule_form{

}

.schedule_form div{
  margin: 25px 0;
}

textarea{
  width: 300px;
}

input{
  padding: 5px;
  width: 200px;
}

button{
  width: 20%;
>>>>>>> dev
  background-color: var(--point-color);
  padding: 10px;
  color: #fff;
  border-radius: 10px;
  margin-top: 20px;
}