@charset "UTF-8";

form{
	width: 100%;

}
table{
	width: 600px;	
	display: table; 
	margin-top: 50px;
	margin-left: auto; 
	margin-right: auto;
 	border: 1px solid #ddd;
}

.table{
	
	/* border-collapse:collapse; */
	/* border-collapse: separate; */
}

tr{
	
	height: 80px;

}
input, select{
	width: 300px;
	padding: 5px 0 ;
	padding-left:10px;
	box-sizing: border-box;
}
.age{
	width: 10px;
}
select{
	
}
td{
	vertical-align: middle;
	
}
.label{
	text-align: right;
}
.wrap_btn{ 
	position:absolute;
	left:50%;
	transform:translateX(-50%);
	display:flex;	
  	width: 600px;	
  	margin-top: 20px;
}

.wrap_btn button{
	width: 50%;
	padding: 10px;
  	color: #fff;
  	background-color: var(--point-color);
  	border-radius: 10px;
}

#btn1{
	margin-right: 10px;
}